version: "3.9"

services:
  nginx:
    build:
      context: .
      args:
        VITE_API_BASE_URL: ${VITE_API_BASE_URL}
    container_name: techletter_nginx
    ports:
      - "80:80"
    restart: unless-stopped
